[submodule "Dex_Project/lib/openzeppelin-contracts"]
	path = Dex_Project/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Dex_Project/lib/forge-std"]
	path = Dex_Project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DAO_Project/lib/forge-std"]
	path = DAO_Project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DAO_Project/lib/openzeppelin-contracts"]
	path = DAO_Project/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "EIP712Hasher/lib/forge-std"]
	path = EIP712Hasher/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "EIP712Hasher/lib/openzeppelin-contracts"]
	path = EIP712Hasher/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "proxy-lab/lib/forge-std"]
	path = proxy-lab/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "proxy-lab/lib/openzeppelin-contracts-upgradeable"]
	path = proxy-lab/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "proxy-lab/lib/openzeppelin-contracts"]
	path = proxy-lab/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "DAO_Project/lib/openzeppelin-contracts-upgradeable"]
	path = DAO_Project/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
